.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 185px;
  padding-top: 246px;
  padding-bottom: 30px;
}

.not-found__heading {
  margin: 0;
  color: #FFF;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.not-found__paragraph {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.not-found__link {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media (max-width: 800px) {
  .not-found__wrapper {
    padding: 408px 0 222px;
  }
}

@media (max-width: 400px) {
  .not-found__wrapper {
    padding: 329px 0 30px;
    row-gap: 284px;
  }

  .not-found__heading {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__paragraph {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}