.layout-nav {
  width: 59%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;

}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #FFF;
  text-align: right;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;

  text-decoration: none;
}

.link-profile {
  padding-right: 33px;
  position: relative;
  color: #FFF;
  text-align: right;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.link-profile::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: -3px;
  right: 0;
  background: url("../../images/icon/account.svg") center no-repeat, #313131;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .layout-nav {
    flex-direction: column;
    row-gap: 60vh;
    width: 100%;
  }

  .nav__list {
    flex-direction: column;
    row-gap: 28px;
  }

  .nav__link {
    font-size: 18px;
    font-weight: 500;
  }

  .nav__link-active {
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
  }
}