.search {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search::before {
  content: '';
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0%;
  height: 1px;
  background: #424242;
}

/* .search__wrapper {
	padding: 60px 0 80px 0;
	border-bottom: 1px solid #424242;
	margin: 0 60px 0;
} */

.search-film {
  width: 100%;
  min-height: 68px;
}

.search-film__wrapper {
  box-sizing: border-box;
  padding: 6px 6px 6px 22px;
  display: flex;
  justify-content: space-between;
  width: inherit;
  border-radius: 40px;
  background: #2f2f2f;
}

.search-film__input {
  width: 96%;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  /* 130.769% */
  color: #8b8b8b;
  background-color: transparent;
  border: none;
}

.search-film__input:focus {
  outline: none;
}

.search-film__btn {
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;

  border: none;
  border-radius: 48px;
  background: #4285f4;
  cursor: pointer;
}

.search-film__error {
  color: #ee3465;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;

  display: none;
}

.search-film__error_visible {
  display: inline;
}

@media (max-width: 800px) {
  .search__wrapper {
    margin: 0 30px 0;
  }
}

@media (max-width: 530px) {
  .search__wrapper {
    margin: 0 10px 0;
    padding-top: 50px;
  }
}